* {
  margin: 0;
  padding: 0;
}
html,
body {
  height: 100%;
  font-family: "Ubuntu", sans-serif;
}

a {
    text-decoration: none;
}

.header {
    position: fixed;
    min-height: 100%;
    word-spacing: 40px;
}

.nav {
    padding-left: 700px;
    padding-top: 27px;
    background-color: #ff97bb;
    width: 100%;
    height: 70px;
    float: left;
}

.content {
    height: 750px;
    padding-top: 100px;
    padding-left: 150px;
    padding-right: 150px;
}

.item {
    width: 100%;
    padding: 30px 30px 30px;
    margin-top: 60px;
    background-color: #ffd2e2;
    border-radius: 15px;
}

.item2 {
    width: 100%;
    display: flex;
    padding: 30px 30px 30px;
    margin-top: 100px;
    float: left;
    background-color: #ffd2e2;
    border-radius: 15px;
}

.item3 {
    width: 100%;
    display: flex;
    float: left;
    margin-top: 150px;
    background-color: #ffd2e2;
}

.item4 {
    padding: 30px 30px 30px;
    width: 100%;
    display: flex;
    margin-top: 150px;
    background-color: #ffd2e2;
}

.dota {
    width: 400px;
    margin: 20px;
}

.jojo {
    width: 300px;
    margin: 20px;
}

.joj {
    padding: 20px 30px;
    margin: 70px;
    width: 270px;
    height: 20px;
    border-radius: 15px;
    background-color: #fe4083;
}

.look {
    padding-top: 50px;
    padding-left: 10%;
    text-align: center;
}

.text {
    margin: 170px 48px;
    padding: 15px;
    background-color: #fe4083;
    border-radius: 15px;
}

.hehe {
    display: flex;
    width: 350px;
    margin-left: 150px;
}

.heh {
    background-color: #fe4083;
    padding: 20px 30px;
    margin: 70px;
    width: 270px;
    height: 50px;
    border-radius: 15px;
}

.ehe {
    display: flex;
    margin-left: 25%;
    width: 750px;
    height: 300px;
}

h1 {
    margin-bottom: 10px;
}

.ubuntu-light {
  font-family: "Ubuntu", sans-serif;
  font-weight: 300;
  font-style: normal;
}

.ubuntu-regular {
  font-family: "Ubuntu", sans-serif;
  font-weight: 400;
  font-style: normal;
}

.ubuntu-medium {
  font-family: "Ubuntu", sans-serif;
  font-weight: 500;
  font-style: normal;
}

.ubuntu-bold {
  font-family: "Ubuntu", sans-serif;
  font-weight: 700;
  font-style: normal;
}

.ubuntu-light-italic {
  font-family: "Ubuntu", sans-serif;
  font-weight: 300;
  font-style: italic;
}

.ubuntu-regular-italic {
  font-family: "Ubuntu", sans-serif;
  font-weight: 400;
  font-style: italic;
}

.ubuntu-medium-italic {
  font-family: "Ubuntu", sans-serif;
  font-weight: 500;
  font-style: italic;
}

.ubuntu-bold-italic {
  font-family: "Ubuntu", sans-serif;
  font-weight: 700;
  font-style: italic;
}

.btn {
  text-decoration: none;
  display: inline-block;
  padding: 10px 20px;
  border-radius: 10px;
  box-shadow: 0 0 40px 40px #F137A6 inset, 0 0 0 0 #F137A6;
  font-family: 'Montserrat', sans-serif;
  font-weight: bold;
  letter-spacing: 2px;
  color: white;
  transition: .15s ease-in-out;
}

.btn:hover {
  box-shadow: 0 0 10px 0 #F137A6 inset, 0 0 10px 4px #F137A6;
  color: #F137A6;
}